<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="{{pluResPath}}content/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{pluResPath}}content/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{pluResPath}}content/static/css/hljs.css">
    <link rel="stylesheet" href="{{pluResPath}}content/Bing/style.css">

</head>

<body>
    <header class="site-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-4 my-auto">
                    <a href="#" class="site-logo">
                        <img src="{{pluResPath}}content/static/picture/bing.png" alt="LOGO">
                    </a>
                </div>
            </div>
        </div>
    </header>
    <section class="about-area pt-232">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-5 col-lg-5 text-right">
                    <div class="section-heading">
                        <h2>New Bing</h2>
                        {{if cache.file != ''}}
                        <p> {{cache.file}} </p>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-content">
                        <h4>{{senderName}}</h4>
                    </div>
                    <div class="about-content">
                        <h2>{{@ prompt}}</h2>
                        <span class="height-50"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-content">
                        <h4>必应</h4>
                    </div>
                    <div class="about-content">
                        <p class="markdown"></p>
                        <span class="height-50"></span>
                    </div>
                </div>
            </div>
            {{if quote}}
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-content">
                        <h4>引用</h4>
                    </div>
                    <div class="about-content">
                        {{each quotes item}}
                        <p>{{item}}</p>
                        {{/each}}
                        <span class="height-50"></span>
                    </div>
                </div>
            </div>
            {{/if}}
            {{if cache.file != ''}}
            <div id="qrcode" class="row justify-content-end"></div>
            {{/if}}
        </div>
    </section>
    <!-- footer start -->
    <footer class="site-footer mt-175">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-10 my-auto text-right">
                    <div class="copyright-text">
                        <p>Response to {{senderName}} Created By Yunzai-Bot and ChatGPT-Plugin</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!--========= JS Here =========-->
    <script src="{{pluResPath}}content/static/js/jquery-2.2.4.min.js"></script>
    <script src="{{pluResPath}}content/static/js/jquery.qrcode.min.js"></script>
    <script src="{{pluResPath}}content/static/js/highlight.min.js"></script>
    <script src="{{pluResPath}}content/static/js/marked.min.js"></script>
    <script src="{{pluResPath}}content/static/js/tex-mml-chtml.js"></script>
    <script src="{{pluResPath}}content/static/js/base64.min.js"></script>
    <script src="{{pluResPath}}content/static/js/main.js"></script>
    <script src="{{pluResPath}}content/static/js/purify.min.js"></script>

    <script>
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: false,
            pedantic: false,
            sanitize: false,
            smartLists: true,
            smartypants: false,
            highlight: function (code,lang) {
                return hljs.highlightAuto(code,[lang]).value;
            }
        });
        const markdown = '{{@ content}}';
        const html = marked.parse(Base64.decode(markdown));
        const sanitizedHtml = DOMPurify.sanitize(html);

        $(".markdown").html(sanitizedHtml);
        jQuery('#qrcode').qrcode({width: 128,height: 128,text: "{{cache.cacheUrl}}/{{cache.file}}"});
    </script>
</body>

</html>